*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    margin: 0 auto;
    background-color: azure;
}

/******************* header ****************/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: azure;
    padding: 50px 0px;
    margin: 0 130px;

    
}
.logo{
   
}
.nav{
   
   
}
.nav li{
    list-style-type: none;
    display: inline-block;
    
}
.nav li a{
    padding: 10px;
    
    text-decoration: none;
    color: rgb(59, 54, 54);
}
.nav li a:hover{
    color: black;
    border-bottom: 1px solid black;
}


/****************** container ****************/

.container{
    display: flex;
    justify-content: space-between;
    background-color: azure;
    margin: 0  130px;

}

main{
    width: 68%;
}
.container main img{
    border-radius: 5px;
}
#button{
    text-decoration: none;
    padding: 15px;
   letter-spacing: 0.3rem;
    color: white;
    background-color: rgb(173, 50, 50);
    border-radius: 2px;
    margin-left: 50px;
}
#button:hover{
    background-color: rgb(218, 38, 38);
}

.web3{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}
.web3 h1{
    width: 40%;
    font-size: 3rem;
    
}
.lorem{
    width: 60%;
}
.lorem p{
    margin-bottom: 30px;
    color: rgb(59, 54, 54);
    margin-left: 50px;
    margin-top: 10px;
    line-height: 20px;
}
/****************************** aside *************************/

aside{
    color: white;
    background-color : rgb(5, 5, 34);
    margin-right: 20px;
    border-radius: 5px;
    width: 28%;
    
}
.aside{
    padding: 30px;
}
.aside h1{
    font-size: 2rem;
    color: rgb(230, 230, 71);
}
.aside h4{
    margin-top: 30px;

}
.aside p{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px ;
    color: rgba(255, 255, 255, 0.418);

}
/************************footer ***********************/
footer{
    display: flex;
    background-color: azure;
    margin-top: 10px;
    margin-left: 120px;
    margin-right: 75px;
    height: 400px;

}
.card{
    display: flex;
    height: 100px;
}
.card img{
    width: 22%;
}
.child{
    width: 68%;
    display: block;
    margin: 0 10px;
    padding-top: 10px;
}
.child .des{
    font-size: 14px;
    color: rgba(46, 44, 44, 0.534);
}
.child .bold{
   font-size: 16px;
   font-weight: bold;
}
.child h3{
    font-size: larger;
    color: rgb(114, 105, 105);
}
